<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CSS Inspector</title>
    <link rel="stylesheet" href="public/style.css">
</head>
<body>
    <div class="container">


        <main>
            <form class="input-fields" action="/" method="post">
                <h1>
                    Input Required Paths
                </h1>
                <input name="cssPath" type="text" placeholder="Enter CSS root path...">
                <input name="htmlPath" type="text" placeholder="Enter HTML module path...">
                <input type="submit" value="Analyze">
            </form>

        {{if .}}
            <div class="css-files-section">
                <h1 class="section-header">Related CSS Files</h1>
                <ul>
                {{range .CSSFiles}}
                    <li class="css-file-item">
                        <span class="file-name">{{.Name}}</span>
                    </li>
                {{end}}
                </ul>
            </div>
            <div class="html-files-section">
                <h1 class="section-header">HTML Files in This Module</h1>
                <ul>
                {{range .HTMLFiles}}
                    <li class="file-item">
                        <img src="public/html.png" alt="">
                        <span class="file-name">{{.Name}}</span>
                    {{if .HasInlineStyle}}<span class="alert red">Has Inline Style</span>{{end}}
                    {{if .HasStyleTag}}<span class="alert orange">Has Style Tag</span>{{end}}
                        <div class="class-list">
                        {{range $Name,$Class := .Classes}}
                            <span class="class-item">
                                {{$Name}} <span class="class-item-count">{{$Class.Count}}</span>
                                <div class="info css-file-box">
                                {{range $Class.CSSFiles}}
                                    <span class="info css-file-name">{{.}}</span>
                                {{end}}
                                </div>
                            </span>
                        {{end}}
                        {{range $Name := .RelatedCSSFiles}}
                            <span class="css-file-item">
                            {{$Name}}
                            </span>
                        {{end}}
                        </div>
                    </li>
                {{end}}
                </ul>
            </div>
        {{end}}
        </main>
    </div>
    <script>
        var classItems = document.getElementsByClassName("class-item");
        for (var i = 0; i < classItems.length; i++) {
            +function (index) {
                classItems[index].addEventListener("mouseenter", function (evt) {
                    classItems[index].children[1].style.display = "inline-block";
                });
                classItems[index].addEventListener("mouseleave", function (evt) {
                    classItems[index].children[1].style.display = "none";
                });
            }(i)
        }

    </script>
</body>
</html>